.tt-dropdown-menu {
    background-color: #fff;
    border: 1px solid #ccc;
}

.tt-dropdown-menu p {
    margin: 0px;
    padding: 4px;
    border-top-style: dashed;
    border-width: 1px;
    border-color: #ccc;
    line-height: 100%;
}

.tt-dropdown-menu p.unknown {
    background-color: #FFC0C0;
}

.tt-suggestion.tt-cursor {
    background-color: #ccc;
}
