<script>
m2mjson_field_sel='#id_poets'
m2mjson_list_sel='#list'
</script>
<script type="text/javascript" src="{{ STATIC_URL }}typeahead/typeahead.bundle.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}museion/js/forms.js"></script>
<form method="POST">
  {% csrf_token %}
  {{ form.non_field_errors }}
  <div class="fieldWrapper">
    {{ form.title.errors }}
    <label for="id_title">Название:</label>
    {{ form.title }}
  </div>
  <div class="fieldWrapper">
    {{ form.poets.errors }}
    <label for="id_poets">Авторы:</label>
    {{ form.poets }}
    <p id="list"></p>
    <input type="text" id="typeahead">
  </div>
  <div class="fieldWrapper">
    {{ form.year.errors }}
    <label for="id_year">Год написания:</label>
    {{ form.year }}
  </div>
  <div class="fieldWrapper">
    {{ form.text.errors }}
    <label for="id_text">Текст:</label>
    {{ form.text }}
  </div>
  <input type="submit">
</form>
<p>Музыка:</p>
{% if not form.instance.pk == None %}
  {% for music_piece in music %}
    <a href="/edit/music/{{ music_piece.id }}"><span class="icon-edit"></span> {{ music_piece.id }}</a><br>
  {% endfor %}
    <a href="/edit/music"><span class="icon-plus"></span> создать...</a>
{% else %}
  <p>Сперва сохраните сведения о тексте.</p>
{% endif %}
