<script type="text/javascript" src="{{ STATIC_URL }}tokeninput/jquery.tokeninput.js"></script>
<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}tokeninput/token-input.css" />
<script type="text/javascript">
  $(document).ready(function(){
    $.get('/util/tokeninput/prepopulate/person?q='+$('#id_poets').val().replace(/[^0-9|,]/g, ''), function(data) {
      $('#id_poets').tokenInput('/util/tokeninput/autocomplete/person', {prePopulate: JSON.parse(data)});
    });
  });
</script>
<form method="POST">
  {% csrf_token %}
  {{ form.as_p }}
  <input type="submit">
</form>
<p>Музыка:</p>
{% if not form.instance.pk == None %}
  {% for music_piece in music %}
    <a href="/edit/music/{{ music_piece.id }}"><span class="icon-edit"></span> {{ music_piece.id }}</a><br>
  {% endfor %}
    <a href="/edit/music"><span class="icon-plus"></span> создать...</a>
{% else %}
  <p>Сперва сохраните сведения о тексте.</p>
{% endif %}
