{% extends layout|default:'layout.htm' %}
{% block main %}
  <table class="table">
    <thead>
      <tr>
        <th>Время</th>
        <th>Адрес</th>
        <th>Действие</th>
      </tr>
    </thead>
    <tbody>
      {% for event in events %}
        <tr>
          <td>{{ event.timestamp|date:"d.m.Y H:i:s" }}</td>
          <td>{{ event.address }}</td>
          {% if event.event == "s" %}
            <td><i class='icon-search'></i> {{ event.search_mode }}: "{{ event.search_query }}"</td>
          {% elif event.event == "p" %}
            <td><i class='icon-headphones'></i> <a href="javascript:playfile('{{ event.playback_recording.href }}')">"{{ event.playback_recording.poetry.title }}"</a> (сл. {% for p in event.playback_recording.poetry.poets.all %}<a href="/people/{{ p.id }}">{{ p.name_abbrv }}</a>, {% endfor %}муз. {% for p in event.playback_recording.music.composers.all %}<a href="/people/{{ p.id }}">{{ p.name_abbrv }}</a>, {% endfor %}исп. {% for p in event.playback_recording.performers.all %}<a href="/people/{{ p.id }}">{{ p.name_abbrv }}</a>{% if not forloop.last %}, {% endif %}{% endfor %})</td>
          {% elif event.event == "v" %}
            <td><i class='icon-eye-open'></i> <a href="{{ event.view_url }}">{{ event.view_url }}</a></td>
          {% else %}
            <td>Broken event</td>
          {% endif %}
        </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock %}
