<!DOCTYPE html>
<html>
<head>
<title>{% if title %}{{ title }} - {% endif %}{{ PROJECT_NAME }}</title>
<script type="text/javascript">
var STATIC_URL='{{STATIC_URL}}';
var PROJECT_NAME='{{ PROJECT_NAME}}';
</script>
<link href="{{ STATIC_URL }}museion/css/main.css" rel="stylesheet" media="screen">
<link href="{{ STATIC_URL }}museion/css/typeahead.css" rel="stylesheet" media="screen">
<link href="{{ STATIC_URL }}museion/css/tags.css" rel="stylesheet" media="screen">
<link rel="icon" type="image/png" href="{{ STATIC_URL }}museion/favicon.png" />
<script type="text/javascript" src="{{ STATIC_URL }}jquery/jquery.min.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}jplayer/jquery.jplayer.min.js"></script>
<link href="{{ STATIC_URL }}bootstrap/css/bootstrap.min.css" rel="stylesheet" media="screen">
<script type="text/javascript" src="{{ STATIC_URL }}museion/js/main.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}museion/js/player.js"></script>
</head>
<body>
<script src="{{ STATIC_URL }}bootstrap/js/bootstrap.min.js"></script>
<div id='header'>
  {% include 'navbar.htm' %}
</div>
<div id='main'>
  <div id='messages' style='position:fixed;top:60;left:10;z-index:10;'>
  </div>
  <div id='content'>
    {% block main %}{{ content }}{% endblock %}
  </div>
</div>
<div id='footer'></div>
</body>
</html>
