{% extends 'layout.htm' %}
{% block main %}
{% regroup people by first_letter as letter_list%}
{% for letter in letter_list%}
    <b>{{ letter.grouper }}</b></br>
    {% for p in letter.list %}
    <a href='/people/{{ p.id }}'>{{ p.name }}</a>
    ({% if category == 'recording' %}{{ p.recording_set.all.count }}{% endif %}{% if category == 'poetry' %}{{ p.poetry_set.all.count }}{% endif %}{% if category == 'music' %}{{ p.music_set.all.count }}{% endif %})
    <br>
    {% endfor %}
{% endfor %}
{% endblock %}
