  {% load cache %}
  {% cache 157680000 people category %}
    {% regroup people by first_letter as letter_list%}
    {% for letter in letter_list%}
      <b>{{ letter.grouper }}</b><br>
      {% for person in letter.list %}
        <a href="{{ person.get_absolute_url }}">{{ person.name }}</a>
        ({% if category == 'recording' %}{{ person.recording_set.all.count }}{% endif %}{% if category == 'poetry' %}{{ person.poetry_set.all.count }}{% endif %}{% if category == 'music' %}{{ person.music_set.all.count }}{% endif %})
        <br>
      {% endfor %}
    {% endfor %}
  {% endcache %}
