<div id="person" class="show-extras hide-extras">
  <b>{{ person.name }}</b>
  <a href="/edit/person/{{ person.id }}"><span class="extras icon-edit"></span></a>
  <br>
  {% if person.image %}
    <img src="{{ person.image.url }}" class="person_image">
  {% endif %}
  <div class="person_text">{{ person.text|linebreaks }}</p></div>
  {% for l in person.extpersonlink_set.all %}<a href="{{ l.href }}">{{ l.href }}</a><br>{% endfor %}
</div>
<div class="person_recordings">
  {% load cache %}
  {% cache 157680000 recordings_person person.id %}
    {% include 'recordings.htm' %}
  {% endcache %}
</div>
