<div class="recording hide-extras" data-id="{{ object.id }}">
  {% if object.legal_status %}
    <a href="{{ object.href }}"><i class="show-extras icon-ban-circle"></i></a>
  {% else %}
    <a href="{{ object.href }}"><i class="show-extras action-play icon-play"></i></a>
    <a href="{{ object.href }}"><i class="extras action-download icon-download-alt" style="display:none"></i></a>
  {% endif %}
  <a href="{{ object.get_edit_url }}"><i class="extras action-edit icon-edit" style="display:none"></i></a>
  {% with piece_prefix='исп.' people=object.performers.all %}
    {% include 'piece_people.htm' %}
  {% endwith %}
  {% if object.production_set.all %}
    ({% for production in object.production_set.all %}{% if forloop.first %}({% endif %}{{ production.prefix }} <a href="{{ production.get_absolute_url }}">"{{ production.title_clean }}"</a>{% if production.year %} ({{ production.year }}){% endif %}{% if not forloop.last %}, {% else %}){% endif %}{% endfor %})
  {% endif %}
</div>
