  <div class="piece">
    <div class="piece_header">
      <div class="title">
        {% if recordings.list.0.poetry %}
          {{ recordings.list.0.poetry.title }}
        {% elif recordings.list.0.music %}
          {% if recordings.list.0.music.poetry %}
            {{ recordings.list.0.music.poetry.title }}
          {% else %}
            {{ recordings.list.0.music.title }}
          {% endif %}
        {% else %}
            Неизвестные произведения
        {% endif %}
      </div>
      {% if recordings.list.0.poetry %}
        <div class="poetry hide-extras" data-id="{{ recordings.list.0.poetry.id }}">
          <i class="action-poetry-view show-extras icon-align-justify"></i>
          <span class="extras action-edit" style="display:none"><a href="/edit/poetry/{{ recordings.list.0.poetry.id }}"><i class="icon-edit"></i></a></span>
          {% if recordings.list.0.poetry.poets.all or recordings.list.0.poetry.ext_unknown_name_set.all %}
            сл. 
            {% for p in recordings.list.0.poetry.poets.all %}
              <span class="person"><a href="/people/name/{{ p.name_url }}">{{ p.name_abbrv }}</a></span>{% if not forloop.last or recordings.list.0.poetry.ext_unknown_name_set.all %}, {% endif %}
            {% endfor %}
            {% for p in recordings.list.0.poetry.ext_unknown_name_set.all %}
              <span class="person unknown"><a href="/unknown/{{ p.name }}">{{ p.name }}</a></span>{% if not forloop.last %}, {% endif %}
            {% endfor %}
          {% else %}
            ?
          {% endif %}
        </div>
      {% endif %}
      {% if recordings.list.0.music %}
        <div class="music hide-extras" data-id="{{ recordings.list.0.music.id }}">
          <i class="show-extras icon-music"></i>
          <span class="extras action-edit" style="display:none"><a href="/edit/music/{{ recordings.list.0.music.id }}"><i class="icon-edit"></i></a></span>
          {% if recordings.list.0.music.composers.all or recordings.list.0.music.ext_unknown_name_set.all %}
            муз. 
            {% for p in recordings.list.0.music.composers.all %}
              <span class="person"><a href="/people/name/{{ p.name_url }}">{{ p.name_abbrv }}</a></span>{% if not forloop.last or recordings.list.0.music.ext_unknown_name_set.all %}, {% endif %}
            {% endfor %}
            {% for p in recordings.list.0.music.ext_unknown_name_set.all %}
              <span class="person unknown"><a href="/unknown/{{ p.name }}">{{ p.name }}</a></span>{% if not forloop.last %}, {% endif %}
            {% endfor %}
          {% else %}
            ?
          {% endif %}
        </div>
      {% endif %}
    </div>
    <div class="piece_recordings">
      {% for r in recordings.list %}
        <div class="recording hide-extras" data-id="{{ r.id }}">
          {% if r.legal_status %}
            <a href="{{ r.href }}"><i class="show-extras icon-ban-circle"></i></a>
          {% else %}
            <a href="{{ r.href }}"><i class="show-extras action-play icon-play"></i></a>
            <a href="{{ r.href }}"><i class="extras action-download icon-download-alt" style="display:none"></i></a>
          {% endif %}
          <a href="/edit/recording/{{ r.id }}"><i class="extras action-edit icon-edit" style="display:none"></i></a>
          {% if r.performers.all or r.ext_unknown_name_set.all %}
            исп. 
            {% for p in r.performers.all %}
              <span class="person"><a href="/people/name/{{ p.name_url }}">{{ p.name_abbrv }}</a></span>{% if not forloop.last or r.ext_unknown_name_set.all %}, {% endif %}
            {% endfor %}
            {% for p in r.ext_unknown_name_set.all %}
              <span class="person unknown"><a href="/unknown/{{ p.name }}">{{ p.name }}</a></span>{% if not forloop.last %}, {% endif %}
            {% endfor %}
          {% else %}
            ?
          {% endif %}
        </div>
      {% endfor %}
    </div>
  </div>
